.skill-list {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
      padding: 0;
  }
  .skill-item {
    margin: 2dvi;
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
  }
  .icon-title {
    margin: 0;
  }
  .skill-title{
    font-size:x-large;
  }