.pro-output{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    .pro-data{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin-top:10dvh;
    // backdrop-filter: blur(5px) ;
    // background-color: var(--backgroundColor);
    // border-radius: 10px;
    // justify-content: space-evenly;
    // height: 90dvh;
    span{
        
    }

}
.pro-img{
       
        // filter: saturate(4);
    width: 30em ;
    aspect-ratio: 2/1 ;
    margin: 1em;
    border-radius: 10px;
    }
}

