.header{
    position: fixed;
    top: .1em;
    left: .5vmin;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    // position: fixed;
    height: 6em;
    width: 6em;
    will-change: filter;
    transition: filter .5s;
    color: inherit;
    path{
        transform: translateX(10%) translateY(25%);
    }
    &:active{
        transform:rotateY(360deg);
        transition: transform 1s;
    }
}
  .logo:hover {
    filter: drop-shadow(0 0 2em var(--shadowColor));
     transition: transform .5s;
    #path1{
        animation: p1 3s  infinite alternate ease-in-out;
       
    }
    #path2{
        animation: p2 3s -.75s infinite alternate ease-in-out;
    }
    #path3{
        animation: p3 3s -1.25s infinite alternate ease-in-out;
    }
    #path4{
        animation: p4 3s -1.75s infinite alternate ease-in-out;
        
    }
  }

  

  #path1,#path2,#path3,#path4{
    transition: transform .5s;
  }

  @keyframes p4 {
    0%{
        transform: translateX(10% + 7.5%) translateY(25% - 5%);
    }
    100%{
        transform: translateX(10% + 7.5%) translateY(25% + 5%);
    }
    }

@keyframes p3 {
    0%{
        transform: translateX(10% + 2.5%) translateY(25% - 5%);
    }
    100%{
        transform: translateX(10% + 2.5%) translateY(25% + 5%);
    }
    }
@keyframes p2 {
    0%{
        transform: translateX(10% - 2.5%) translateY(25% - 5%);
    }
    100%{
        transform: translateX(10% - 2.5%) translateY(25% + 5%);
    }
    }
@keyframes p1 {
    0%{
        transform: translateX(10% - 7.5%) translateY(25% - 5%);
    }
    100%{
        transform: translateX(10% - 7.5%) translateY(25% + 5%);
    }
    }

    