//!Fonts
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url('./assets/fonts/Roboto-Black.ttf') format('woff');
}
@font-face {
  font-family: 'Quick';
  src: local('Quick'),
  url('./assets/fonts/Quicksilver.ttf') format('woff');
}
//! Vars

.theme-dark{
  --MainTextColor: rgba(255,255,255, 0.9);
  --mainBackgroundColor: rgba(0,0,0, 0.7);
  --borderColor: rgba(255,255,255, 0.9);
  --shadowColor:rgba(255,255,255, 0.9);
}

.theme-light{
  --MainTextColor: rgba(36, 36, 36, 0.9);
  --mainBackgroundColor: rgba(255, 255, 255, 0.7);
  --borderColor: rgba(36, 36, 36, 0.9);
  --shadowColor:rgba(36, 36, 36, 0.9);
}

#mobile{

}

#desktop{

}

:root {
  font-family: Quick, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

color-scheme: light dark;
  color: var(--MainTextColor);
  background-color: var(--mainBackgroundColor);
  border-color: var(--borderColor);
  transition: color .5s ease-in-out;
  //colors:
  --red: #C72415;
}

a {
  font-weight: 500;
   color: inherit;
  text-decoration: inherit;
}
// a:hover {
//   color: #535bf2;
// }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
// button:hover {
//   border-color: #646cff;
// }
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.visible{
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  pointer-events: all;
  user-select: all;
  transition: all .5s;
}

.hidden{
  opacity: 0;
  max-width: 0;
  max-height: 0;
  pointer-events: none;
  user-select: none;
  transition: all .5s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
