

.about-container{
    width: 100%;
    height: auto;
    z-index: 10;
    position: relative;
    top: 1vmin;
    // backdrop-filter: opacity(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    // margin-inline: 1em;
    padding-bottom: 3em;
    // max-width: 99dvw;
    .about-info{
        // z-index: 1;
       margin: .2em;
    }
}

.headshot{
    opacity: 0.8;
    width:auto ;
    height: 100%;
    position: fixed;
    top:0;
    left: -10vmin;
    transform: translateY(100%);
    z-index: 0;
    filter: blur(5px);
    transition: all 1s ease-in-out;
    &:hover{
        filter: blur(0);
        opacity: 1;
        &:active{
            z-index: 100;
            
        }
    }

}

.about-title, .about-info, .github-data{
    position: relative;
    z-index: 10;
    // filter:  drop-shadow(0 0 2px var(--shadowColor));
}

.about-title{
    font-size: 7em;
    width: fit-content;
    margin: 0 auto;
    //  mix-blend-mode: difference;
    // background-clip: text;
    // -webkit-background-clip: text;
}
.about-info{
    max-width: 800px;
    margin: 0 auto;
}

.github-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // margin-inline: 1em;
    width: 100%;
    h2{
        margin: 0 auto;
    }
    
    .history{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        // overflow: hidden;
       width: fit-content;
       animation: 20s slide infinite linear;
       &:hover{
        animation-play-state: paused;
       }
    }
    .calendar{
        width: 95%;
        height: auto;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        background-color: var(--mainBackgroundColor);
        padding: .5em;

    }
}

@media (max-width: 500px) {
    .about-title{
        font-size: 3.5em;
    }
}

@keyframes slide {
    from{
        transform: translateX(100dvw); //!check later
    }
    to{
        transform: translateX(-100%);
    }
    
}