.sprite{
    width:auto;
    height: 30vmin;
    backdrop-filter: blur(5px) invert(10%);
    border-radius: 10px;
    border: 2px inset ;
    margin: 0 1vmin;
}

.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    p{
        margin: 1vmin;
    }
}

.move-ul{
    list-style: none;
   width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(5px) invert(10%);
    border-radius: 10px;
    border: 2px inset ;
    li{
        padding: 2vmin;
    }
}

.pokeName:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 5px var(--shadowColor));
    transition: all .3s;

}

.output-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    details{
        width: fit-content;
        display: flex;
    }
    summary{
        cursor: pointer;
    }
}
.search-form{
    background-color: transparent;
    select{
        background: none;
        background-color: transparent;
        -webkit-appearance: none;
        color: var(--mainTextColor);
        padding: 1px 0px;
        border-width: 2px;
        border-style: inset;
        backdrop-filter: blur(5px);
        border-radius: 1vmin;
        padding: 1vmin 2vmin;
        margin: 1vmin;
        font-family: Roboto, ;
    }
    input{
        background-color: transparent;
        backdrop-filter: blur(5px);
        color: var(--mainTextColor);
        border-radius: 1vmin;
        padding: 1vmin 2vmin;
        margin: 1vmin;
        font-family: Roboto, ;
    }
    option{
        background-color: transparent;
        backdrop-filter: blur(5px);
        color: var(--secondaryTextColor);
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

