.no-select{
    user-select: none;
}
.home-img{
    width: 100px;
    height: 100px;
    z-index: -1;
    animation: animate-image 5s  0s infinite alternate ease-in-out;
}

.flipper {
    animation: flipDown;
    animation-delay: 1s;
    animation-duration: 1s;

    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.home-btns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

@keyframes flipDown {
    0% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }

}
