nav{
    position: fixed;
    top: 1em;
    right: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.active{
    color: var(--red);
}

.nav-ul{
   list-style: none; 
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 5em;
   height: fit-content;
//    align-items: center;
   padding: 0;
   margin: 0;
   backdrop-filter: blur(2px);
   border: 2px solid;
   border-radius:  10px;
   li{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
   }
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .nav-name{
        opacity: 0;
        max-width: 0;
        max-height: 0;
        font-weight: bolder;
        
    }
    .nav-icon{
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
    }
    &:hover{
        .nav-name{
            opacity: 1;
            max-width: 100%;
            max-height: 100%;
        }
        .nav-icon{
            opacity: 0;
            max-width: 0;
            max-height: 0;
          
        }
    }
}

.nav-name{
 transition: all .3s ease-in-out ;
 position: absolute;
 z-index: 1;
 display: flex;
align-self: center;
justify-self: center;
color: inherit;
}

.nav-icon{
    transition: all .3s ease-in-out;
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 2em;
    height: 2em;
    color: inherit;
}

.hamburger{
    display: flex;
    width: 5em;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: transparent;
    padding: 0;
    margin: 0.2em;
    z-index: 2;
    cursor: pointer;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}
.ham-icon{
    width: 3em;
    height: 3em;
    &:hover{
        color: var(--red);
 }
        // &:active{ .ham-t,.ham-m,.ham-b{
        //      animation: float 1s 1;
        // }
           
        // }
   
    transition: color .5s;

}
.ham-t,.ham-m,.ham-b{
    transition: all .5s;
}

@keyframes float{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(50deg);
    }
}